.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}