.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.p-t-0 {
    padding-top: 0px !important;
}

.vertical-align-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.p-l-40{
    padding-left:40px !important;
}